<nav class="navbar navbar-expand-md sticky-top border-bottom">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-compass"></i>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">

        <a class="nav-link" href="/">Explore</a>

      </div>

      <button
        id="theme-toggle"
        class="theme-btn ms-3"
        type="button"
        aria-label="Toggle Theme"
      >
        <i class="fa-solid fa-moon"></i>
      </button>

      <div class="navbar-nav ms-auto">

        <a class="nav-link" href="/new">List Your Property</a>

        <% if (currentUser) { %>

          <a class="nav-link" href="/logout">
            <strong>Logout</strong>
          </a>

        <% } else { %>

          <a class="nav-link" href="/login">
            <strong>Login</strong>
          </a>

          <a class="nav-link" href="/signup">
            <strong>Signup</strong>
          </a>

        <% } %>

      </div>

    </div>
  </div>
</nav>